h1{
    color: #000000;
    font-weight: bold;
    /* margin-left: 395px; */
    text-align: center;
}

.wrapper{
    max-width: 1000px;
    position: relative;
}

.btn1{
    position: absolute;
    left: 0;
}

.btn2{
    position: absolute;
    right: 0;
}

#btnl{
    padding: 10px;
    border-radius: 30px;
    background-color: lime;
}

#btnr{
    padding: 10px;
    border-radius: 30px;
    background-color: lime;
}

img{
    width: 958px;
    height: 578px;
}

.wrapper{
    /* margin-left: 100px; */
    margin-left: auto;
    margin-right: auto;
}